.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  color: black;
}

.box {
  margin: 10px;
  border-bottom-width: 10px;
}

.dateText {
  color: gray;
  size: 70%;
}
