.container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: white;
}

.chartCol {
  width: 200%;
}

.parentRow {
  margin-top: 1%;
  grid-template-columns: 20% 80%;
}

.titleRow {
  margin-top: 1%;
}

.title {
  width: 100;
}
